<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% for i in poste %}
    <div style="border: 1px solid red;">
        <h3>{{i.titre}}</h3>
        <h1>{{i.nom_responsable}}</h1>
        <p>{{i.detail}}</p>
        <h3>{{i.budget}}</h3>
        <h3>{{i.duree}}</h3>
    </div>
    <hr>
    {% endfor %}
    
</body>
</html>